<div class="container-xl px-4 mt-4">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-xl-8">
            <div class="card mb-4">
              <div class="card-header">Student Details</div>
            
                <ng-container *ngIf="student; else notFound">
                  <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="OnFormSubmit()">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="firstName">First Name</label>
                                <input class="form-control" id="firstName" #firstName="ngModel" required type="text" name="firstName"
                                 placeholder="Student first name" maxlength="50" minlength="2"
                                [(ngModel)]="student.firstName">
                                <div *ngIf="errors">
                                    <ul>
                                        <li  *ngFor="let error of errors['FirstName']">
                                            <span class="error text-danger"> {{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="lastName">Last Name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Student last name"
                                [(ngModel)]="student.lastName">
                                <div *ngIf="errors">
                                    <ul >
                                        <li *ngFor="let error of errors['LastName']">
                                            <span class="error text-danger"> {{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="studentNumber">Student #</label>
                            <input class="form-control" id="studentNumber" type="text" name="studentNumber" placeholder="Enter Student number"
                            [(ngModel)]="student.studentNumber">
                            <div *ngIf="errors">
                                <ul>
                                    <li *ngFor="let error of errors['StudentNumber']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="grade">Grade</label>
                            <input class="form-control" id="grade" type="text" name="grade" placeholder="Enter grade"
                            [(ngModel)]="student.grade">
                            <div *ngIf="errors">
                                <ul>
                                    <li  *ngFor="let error of errors['Grade']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="email">Email address</label>
                            <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email address"
                            [(ngModel)]="student.email">
                            <div *ngIf="errors">
                                <ul>
                                    <li *ngFor="let error of errors['Email']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="address">Address</label>
                            <input class="form-control" id="address" type="text" name="address" placeholder="Enter Address"
                            [(ngModel)]="student.address">
                            <div *ngIf="errors">
                                <ul>
                                    <li *ngFor="let error of errors['Address']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="phone">Phone number</label>
                            <input class="form-control" id="phone" type="tel" name="phone" placeholder="Enter phone number"
                            [(ngModel)]="student.phone">
                            <div *ngIf="errors">
                                <ul>
                                    <li  *ngFor="let error of errors['Phone']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="dob">Date of Birth</label>
                            <input class="form-control" id="dob" type="date" name="dob" placeholder="Enter date of birth"
                            value="{{student.dob}}"
                            [ngModel]="student.dob | date: 'yyyy-MM-dd'"
                            (ngModelChange)="student.dob = $event">
                            <div *ngIf="errors">
                                <ul>
                                    <li  *ngFor="let error of errors['DOB']">
                                        <span class="error text-danger"> {{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
                <!-- <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                    <div *ngIf="firstName?.errors?.['required']">
                       First Name is required.
                      </div>
                      <div *ngIf="firstName?.errors?.['maxlength']">
                        First Name cannot be more than 50 characters long.
                      </div>
                      <div *ngIf="firstName?.errors?.['minlength']">
                        First Name must be at least 2 characters long.
                      </div>
                </div> -->
            </ng-container>
            <ng-template #notFound>
                <div class="alert alert-dark" role="alert">
                   Student not found!
                </div>
            </ng-template>
            </div>
        </div>
    </div>
</div>